
body {
    font-family: "Oswald", sans-serif;
    margin: 0;   
    background-color: #4a1818;
}

/* css do header */
header {
    width: 100%;    
    background-color: #1A0A0E;
    box-shadow: 1px 1px 10px black;
    padding: 1px;    
    box-sizing: border-box;  
    height: 80px;
    overflow-y: hidden;
}


 /* css do menu */
header nav {

    float: right;    
    margin-top: 30px;    
}

 /*  links do menu */
header nav a {
    font-weight: bold;
    text-decoration: none;
    color: #eed0d2;
    margin: 15px;
}

/* mudar cor da letra ao passa mouse */
header nav a:hover {
    color: #D71515;
}

#info-jogo  {
    background-color: #1A0A0E; 
    color: #eed0d2;            
    padding: 30px;             
    border-radius: 15px;       
    max-width: 500px; 
    margin: 40px auto;         
    text-align: left;          
    border: 1px solid #D71515; 

}


/* section das letras*/
section {
    padding: 50px;

    h1 {
        text-align: center;    
        font-family: "Oswald", sans-serif;    
        color: #eed0d2;
    }

    h2 {
        text-align: center;
        font-family: "Oswald", sans-serif;
        color: #eed0d2;
        margin-bottom: 50px;
    }

    img {
        border-radius: 20px;  
        display: block;      
        margin: 0 auto;      
    }
    
    #conteudo-sensivel{
        text-align: center;
        font-family: "Oswald", sans-serif;
        color: #eed0d2;
        font-size: 20px;
        margin-top: 20px;
    }
}


 /* pagina sobre */
.sobre {
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 50px;   
    margin-top: auto;
}

.sobre h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.sobre p {
    color: #eed0d2;
    font-family: "Oswald", sans-serif;
    font-size: 18px;    
    line-height: 1.6;    
    max-width: 800px;   
    margin: 20px auto
}



/*  criador */

.criador {
    color: #eed0d2;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto
}

.grid  {
    display: grid;
    gap: 20px;
    text-align: center;
    justify-content: center; 
    margin: 0 auto 100px auto;
}

/*  criador fotos */
.criador + main .grid{
    grid-template-columns: repeat(2, 250px);
}

.grid img {
    max-width: 100%;
    height: 270px;
    border-radius: 30px;
}


 /* galeria */
.galeria {
    text-align: center;
    padding: 50px;
    font-family: "Oswald", sans-serif;


}

.grid-galeria {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.grid img{
    width: 100%;
    height: 300px;
    transition: transform 0.3s;
    object-fit: cover;
    border-radius: 30px;
}

.grid img:hover {
    transform: scale(1.05);
}


/* jogar */

.botao {
    font-weight: bold;
    border: 20px black;
    background: #D71515;
    color: white;
    padding: 10px 20px;
    border: solid 2px;
    border-color: black;
    border-radius: 10px;
}
.botao:hover{
    background-color: #1A0A0E;
    color: #D71515;
    border-color: #D71515;
    transition: 0.1s;
}


footer {
    font-family: "Oswald", sans-serif;
    background-color:  #1A0A0E;
    color: #eed0d2;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;

}

/*configuraçao celular*/

@media (max-width: 768px) {
    header {
        height: auto; 
        padding: 0px;
        overflow: visible; 
        
    }

    header nav {
        float: none;
        text-align: center;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav a {
        margin: 5px 10px; 
        font-size: 14px;
    }

    section {
        padding: 20px;

        img{
            width: 100%;
        }
    }

        #conteudo-sensivel {
            padding-bottom:  30px;
        }

    #container-seletor {
        left: 0 !important;  
        margin-top: 63px;     
    }

    #alternar-tema {
        font-size: 14px;  
    }



    /* Ajuste da Grid para celular */
    .grid, .grid-galeria, .criador + main .grid{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .grid img {
        height: auto;
        width: 100%;
    }

    footer {
        width: 100%;
        text-align: center;
    }
}